WHITEPAPER_LINK=https://ipfs.io/ipfs/<ipfs cid>

FTP_USER=
FTP_HOST=
FTP_PASSWORD=
FTP_REMOTE_PATH=

# toggles a "comming soon" version of the site.
COMING_SOON=0

# these are ugly. Ideally, we'd read the actual values from the contract, but this was faster
GENESIS_END=2020-09-22
DIVIDER=1000000

# make it 1 to be able to do some manual updates on the moc contracts
TEST=0
