.nft-gallery {
	text-align: center;
}
.nft-image {
	display: inline-block;
	margin: .5rem;
	img {
		height: 200px;
		width: auto;
		border: 2px solid white;
		border-radius: 2px;
		display: block;
		margin-bottom: 8px;
	}
}
