.btn-switch-active, .btn-switch-inactive, .btn.dropdown-toggle {
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
	&:active {
		background: $gray-600 !important;
		border-color: $gray-500 !important;
	}
}

.btn-switch-active {
	@extend .btn-dark;
	background: $gray-800;
	border-color: $gray-700;
	&:hover, &:focus {
		background: $gray-800;
		border-color: $gray-700;
	}
}

.btn-switch-inactive {
	@extend .btn-dark;
	background: $gray-900;
	border-color: $gray-800;
	&:hover, &:active {
		background: $gray-700;
		border-color: $gray-600;
	}
}

.btn-large {
	padding-left: 2rem;
	padding-right: 2rem;
	line-height: 3;
	@include media-breakpoint-up('md') {
		width: 100%;
		line-height: 4;
	}
}
