.section-event-details {
	background: #2d2d38;
	color: #fff;

	.col {
		max-width: 500px;
		flex-direction: column;

		> .row {
			> .col:first-child {
				border-right: 1px solid #b3b3b3;
			}
			> .col:last-child {
				border-left: 1px solid #b3b3b3;
			}
		}
	}

	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 0.8em;
		margin-bottom: 10px;
	}

	.details_container {
		border-bottom: 1px solid #89898f;
		padding-bottom: 10px;
		margin-bottom: 10px;

		.detail {
			font-weight: 700;
		}
	}

	@include media-breakpoint-down('sm') {
		.col {
			max-width: 360px;
		}
	}
}
