.section-join-contribute {
	.col {
		max-width: 700px;
	}
	h2 {
		font-weight: 300;
		max-width: 700px;
		text-align: center;
		font-size: 1.6em;
		text-transform: uppercase;
		margin-bottom: 1.6em;
		span {
			font-weight: 700;
			color: #F45BB9;
		}
	}
	p {
		text-align: center;
	}
}
