$padding-section: 2rem 1rem;

body {
	min-height: 100vh;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


section {
	padding: 2rem 1rem;

	@include media-breakpoint-up('md') {
		padding: 3rem 1rem;
	}
	@include media-breakpoint-up('lg') {
		padding: 4rem 1rem;
	}
}

.section-header {
	background: $gray-200;
}

.section-hero {
	background: url(../assets/bg.jpg) no-repeat center center;
	background-size: cover;
	color: $white;
	padding: 0;

	&.fullpage {
		display: flex;
		flex-direction: column;
		flex: 1;
		> .hero-hero {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	padding: 4rem 0;
	@include media-breakpoint-up('md') {
		padding: 6rem 0;
	}
	@include media-breakpoint-up('lg') {
		padding: 8rem 0;
	}
}


.hero-stats {
	margin-bottom: -4rem;
	@include media-breakpoint-up('md') {
		margin-bottom: -6rem;
	}
	@include media-breakpoint-up('lg') {
		margin-bottom: -8rem;
	}

	padding: 2rem 1rem;
	background: rgba(15, 15, 15, .5);

	@include media-breakpoint-up('lg') {
		.row > div .stat {
			border-right: 1px solid $white;
		}

		.row > div:last-child .stat {
			border-right: none;
		}
	}
}

.section-purchase {
	background: linear-gradient(180deg, #000000 0%, #373737 100%);

	hr {
		background-color: $gray-600;
	}
}

.section-stats {
	background-color: #444049;
}

.section-mint-burn {
	background: linear-gradient(180deg, #DBE4F2 0%, #EEF5FF 100%);
}


.section-footer {
	padding: 1rem 1rem;
}
