$padding-section: 2rem 1rem;

body,
html {
	min-height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	padding: 2rem 1rem;

	@include media-breakpoint-up('md') {
		padding: 3rem 1rem;
	}
	@include media-breakpoint-up('lg') {
		padding: 4rem 1rem;
	}
}

.section-header {
	background: $gray-200;
}

.section-hero-governance {
	background: url(../assets/bg-gov.jpg) no-repeat center center;
	background-size: cover;
	color: $white;
	padding: 6rem 0;
	.col {
		min-width: 500px;
	}
	@include media-breakpoint-up('md') {
		padding: 12rem 0;
		h2 {
			position: relative;
			left: -1rem;
		}
	}
}

.section-hero {
	background: url(../assets/bg.jpg) no-repeat center center;
	background-size: cover;
	color: $white;
	padding: 0;

	&.fullpage {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	padding: 4rem 0;
	@include media-breakpoint-up('md') {
		padding: 6rem 0;
	}
	@include media-breakpoint-up('lg') {
		padding: 8rem 0;
	}
}

img.logo {
	height: 2.2rem;
	@media (min-width: 768px) {
		height: 3.4rem;
	}
}

img.logoGovernance {
	height: 2.2rem;
	@media (min-width: 768px) {
		height: 3.4rem;
	}
}

.hero-stats {
	margin-bottom: -4rem;
	@include media-breakpoint-up('md') {
		margin-bottom: -6rem;
	}
	@include media-breakpoint-up('lg') {
		margin-bottom: -8rem;
	}

	padding: 2rem 1rem;
	background: rgba(15, 15, 15, 0.5);

	@include media-breakpoint-up('lg') {
		.row > div .stat {
			border-right: 1px solid $white;
		}

		.row > div:last-child .stat {
			border-right: none;
		}
	}
}

.section-purchase {
	background: linear-gradient(180deg, #000000 0%, #373737 100%);
	.buy-sell-form {
		max-width: 500px;
	}
	.value-propositon {
		max-width: 40rem;
		p {
			font-weight: 300;
		}
	}
	hr {
		background-color: $gray-600;
	}
}

.section-stats {
	background-color: #444049;
}

.section-live-stats {
	background-color: #0f0f0f;
}

.section-account-info {
	background-color: #282828;
}

.section-stake-earn {
	background-color: #282828;
	.stat-label {
		color: rgba(255, 255, 255, .66);
		text-transform: uppercase;
	}
	.stat-value-unit {
		white-space: nowrap;
	}
	.stat-value {
		font-size: 2em;
	}
	.stat-unit {
		color: rgba(255, 255, 255, .66);
		font-size: 11px;
	}
	h4 {
		margin-top: .33em;
	}
}

.stake-earn-header {
	.btn {
		font-size: 14px;
		margin-left: 6px;
	}
}

.section-mint-burn {
	background: linear-gradient(180deg, #dbe4f2 0%, #eef5ff 100%);
}

.section-footer {
	padding: 1rem 1rem;
}
