.section-live-stats {
	background-color: #0f0f0f;

	.stat {
		text-align: left;
	}

	@media (max-width: 990px) {
		.col-lg-4 {
			padding-bottom: 30px;
		}
	}

	@media (max-width: 768px) {
		.mb-6 {
			max-width: 430px;
		}
		.top-stats {
			.col-lg-4 {
				padding-bottom: 30px;
			}
		}
		.col-lg-4:last-child {
			padding-bottom: 10px;
		}

		.mb-6 {
			margin-bottom: 2rem;
		}

		.table-stats {
			font-size: 0.8em;
		}
		.note {
			font-size: 0.7em;
		}
	}
}
