.message {
	text-align: center;
	padding: .75rem;

	background: $primary;
	color: #fff;
	line-height: 1.1;

	h3 {
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
	}
}
