$size: 1em;

.lds-dual-ring {
  display: inline-block;
  width: $size;
  height: $size;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: $size * .8;
  height: $size * .8;
  margin: $size * .1;
  border-radius: 50%;
  border: $size * .075 solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
