.section-stake-earn {
	@media (max-width: 576px) {
		.input-group {
			margin-bottom: 10px;
		}

		.stat {
			font-size: 0.6rem;
		}

		.btn-primary {
			margin-bottom: 10px;
		}

		.btn-outline-secondary {
			margin-bottom: 10px;
		}
	}

	@media (max-width: 480px) {
		.stat {
			font-size: 0.5rem;
		}
		.stat-unit {
			display: none;
		}
	}
}
