.stat-value-unit > * {
	display: inline-block;
}

.stat-value {
	font-weight: 400;
	font-size: 2.25rem;
	@extend .pr-1;
	small {
		font-size: .5em;
		margin-left: .25rem;
		min-width: 3.55em;
	}
}

.stat-image {

}
