body {
	font-family: Lato, sans-serif;
}

h1 {
	font-weight: 100;
	font-size: 2.5rem;
	@include media-breakpoint-up('md') {
		font-size: 4rem;
	}
	strong {
		font-weight: 400;
	}
}

h2,
.subtitle {
	font-size: 1.25rem;
	font-weight: normal;
}

.mb-6 {
	margin-bottom: 5rem;
}

.mt-6 {
	margin-top: 5rem;
}

.mb-lg-6 {
	@include media-breakpoint-up('lg') {
		margin-bottom: 5rem !important;
	}
}

.mt-lg-6 {
	@include media-breakpoint-up('lg') {
		margin-top: 5rem !important;
	}
}

.fs-1 {
	font-size: 1rem;
}

.fs-l {
	font-size: 1.25rem;
}

.fs-xl {
	font-size: 1.5rem;
}

.fs-xxl {
	font-size: 2rem;
}

.fs-s {
	font-size: 0.875rem;
}

.fs-xs {
	font-size: 0.75rem;
}

.fs-xxs {
	font-size: 0.625rem;
}

.lh-1 {
	line-height: 1;
}

a {
	color: $white;
	text-decoration: underline;
}

.stat-value,
.bigstat-value,
input[type='number'],
.number {
	font-family: Lato, sans-serif;
}

.tooltiped {
	cursor: pointer;
}

a.btn {
	text-decoration: none;
}

.note {
	font-style: italic;
	color: #888888;
	font-size: .875rem;
}
